VITE_SERVER_URL="https://rugin.com"
VITE_WS_URL="https://rugin.com"
VITE_APP_URL="http://local.rugin.com"
VITE_MOBILE_WIDTH=850
VITE_DEV_MODE="true"
VITE_MESSAGE_LIMIT=50
VITE_TURNSTILE_SITEKEY="0x4AAAAAAABO1ilip_YaVHJk"
VITE_EMOJI_URL="https://rugin.com/twemojis/"
VITE_RUGIN_CDN="https://cdn.rugin.com/"
VITE_OFFICIAL_SERVER="rugin"

VITE_GOOGLE_CLIENT_ID=""
VITE_GOOGLE_API_KEY=""

# LiveKit SFU media path (requires LIVEKIT_* on the API)
VITE_LIVEKIT_ENABLED="true"
